.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: white;
    background: black;
}

.cart-btn {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

