.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: var(--white);
    background: black;
}

.title-logo {
    width: 60px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.nav-button {
    color: var(--white);
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.user-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 251px;
    height: 200px;
    padding-top: 20px;
    background-color: var(--white);
    box-shadow: 0 0 10px 0 var(--lightgray);
    color: var(--black);
    top: 100%;
    right: 0;
    z-index: 2;
}

.user-box-content {
    padding-left: 15px;
}

.user-box-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.user-box-info i {
    font-size: 1.5em;
}

.user-box-bottom {
    background-color: var(--firstPurple);
    color: var(--white);
    border-radius: 0;
    box-shadow: none;
}

