:root {
  --black: #000;
  --white: #fff;
  --gray: rgb(211, 211, 211);
  --lightgray: rgb(240, 240, 240);
  --darkgray: rgb(130, 130, 130);
  --firstPurple: rgb(128, 0, 150);
  --secondPurple: rgb(105, 36, 215);
  --thirdPurple: rgb(80, 22, 202);
  --firstTransparentPurple: rgba(128, 0, 150, 0.6);
  --secondTransparentPurple: rgba(105, 36, 215, 0.3);
  --thirdTransparentPurple: rgba(80, 22, 202, 0.3);
  --error: red;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  box-shadow: 0 0 5px 0 var(--firstPurple);
}

.notice {
  font-size: 0.8em;
  color: var(--darkgray);
}

.tiny {
  font-size: 0.8em;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.error {
  color: var(--error);
}


/* FORM STYLE */

